/* 
select the parent of the element with class line-author-gutter-container
*/
div:has(.line-author-gutter-container) {
	/* position: sticky !important; */
}

body :not(.canvas-node) .markdown-source-view.mod-cm6 .cm-gutters {
	position: inherit !important;
}

.markdown-source-view.mod-cm6 .cm-content {
	width: 0 !important;
}
