/* 
select the parent of the element with class line-author-gutter-container
*/
/* div:has(.line-author-gutter-container) {
	position: sticky !important;
} */

/* body :not(.canvas-node) .markdown-source-view.mod-cm6 .cm-gutters {
	position: inherit !important;
} */

.cm-gutters {
	position: inherit !important;
}

/* :not(.line-author-gutter-container)
	> body
	:not(.canvas-node)
	.markdown-source-view.mod-cm6
	.cm-gutters {
	position: inherit !important;
} */

/* .markdown-source-view.mod-cm6.is-readable-line-width .cm-content,
.markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
	max-width: fit-content;
} */

/* .markdown-source-view.mod-cm6 .cm-content {
	width: 0 !important;
} */

.cm-contentContainer:has(.line-author-gutter-container) > .cm-content {
	max-width: fit-content !important;
}

.cm-sizer:has(.line-author-gutter-container) {
	display: flex !important;
}

.cm-contentContainer:has(.line-author-gutter-container) {
	justify-content: center;
}
